.SSmainContent {
	background-color: #FFFFFF;
	border: 2px solid #00000F;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 15px;
	padding-left: 5px;
	width: 90%;
	margin-right:auto;
	margin-left:auto;
	margin-top:80px;
}

.SSheader {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	float: none;
	padding: 10px;
	padding-left:0px;
	padding-bottom:50px;
	margin: 0px;
	margin-bottom: 5px;
	width: 90%;
	margin-right:auto;
	margin-left:auto;
}

#SStopmenu {
	margin:0;
	padding:5pt;
	float:right;
	text-align:right;
	margin-top:45px;
}

#SStopmenu li {
	display:inline;
	padding:0;
	margin:0;
}

.SSheader a:link{
	border-bottom: 1px dashed;
	text-decoration: none;
	color:#FFFFFF;
}

.SSheader a:visited{
	border-bottom: 1px dashed;
	text-decoration: none;
	color:#FFFFFF;
}

.SSheader a:hover{
	border-bottom: 2px dashed;
	text-decoration: none;
	color:#FFFFFF;
}

.SSheader a:active{
	border-bottom: 1px dashed;
	text-decoration: none;
	color:#00FF22;
}

.SSheader p {
	font-size:14px;
	line-height:normal;
	margin-bottom:0;
}

body {
	background-color: #6fa5dd;
	margin: 0px;
	background-image: url(/tpl/corner.jpg);
	background-repeat: no-repeat;
	padding-bottom:20px;
	padding-top: 5px;
}

.front_top {
background-image: url(/tpl/top.jpg);
height: 663px;
color:#ffffff;
padding:10px;
padding-top:5px;
}

div.front_top a:link{
color:#fff;
border-bottom: 1px dashed;
}

div.front_top a:active{
color:#fff;
text-decoration: none;
border-bottom: 1px dashed;
}

div.front_top a:visited{
color:#fff;
text-decoration: none;
border-bottom: 1px dashed;
}

div.front_top a:hover{
color:#fff;
text-decoration: none;
border-bottom: 2px dashed;
}

.front_bottom {
color:#ffffff;
padding:10px;
}

.front_button {
padding:10px;
padding:8px;
margin: 10px;
font-size:110%;
text-align:left;
}
